@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.post-body h2 {
  @apply text-xl mt-4;
}

.post-body h3 {
  @apply text-lg mt-4;
}

.post-body a {
  background-color: theme('colors.bg-secondary');
  @apply p-1 rounded-sm;
}
.post-body a:hover {
  background-color: theme('colors.bg-primary');
}

.post-body ul {
  @apply mb-2;
}

.post-body li {
  @apply list-disc list-inside ml-4;
}

.post-body pre {
  @apply rounded-sm overflow-x-auto block whitespace-pre-wrap;
}
.post-body pre code {
  @apply overflow-x-auto block whitespace-pre-wrap;
}

.md-figure {
  @apply mb-4;
}

.md-figure-caption {
  color: theme('colors.secondary');
  @apply text-center;
}
